@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer theme {
  :root {
    --font-sans: 'Inter', system-ui, sans-serif;
    --color-slate-900: #0f172a;
  }
}

body {
  @apply bg-slate-900 text-white font-sans antialiased transition-colors duration-500;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-500 rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400 dark:bg-slate-400;
  }
}
